body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.card {
    height: 340px;
    width: 250px;
    position: relative;
    transition: all .9s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front {
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container:hover .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.container {
    perspective: 1000px;
}


/* @media(prefers-reduced-motion: no-preference) {} */


/* .card { */


/* width: 200px; */


/* height: 200px; */


/* transform-style: preserve-3d; */


/* position: relative; */


/* transition: transform 0.5s; */


/* transform-style: preserve-3d; */


/* } */


/* .card:hover .back { */


/* opacity: 1; */


/* } */


/* .face { */


/* border-radius: 20px; */


/* width: 100%; */


/* height: 100%; */


/* position: absolute; */


/* backface-visibility: hidden; */


/* } */


/* .face.front { */


/* background: pink; */


/* } */


/* .face.back { */


/* background: papayawhip; */


/* transform: rotateY(180deg); */


/* transition-duration: 0.6s; */


/* z-index: 2; */


/* opacity: 0; */


/* } */


/* @media (prefers-reduced-motion: no-preference) { */


/* .card { */


/* transition: transform 0.5s; */


/* transform-style: preserve-3d; */


/* } */


/* .card:hover { */


/* transform: rotateY(180deg); */


/* } */


/* .face { */


/* backface-visibility: hidden; */


/* } */


/* .back { */


/* transform: rotateY(180deg); */


/* opacity: 1; */


/* } */


/* } */