@media(max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-row: 3;
        grid-column: 1;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .projects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-info .profile-container {
        display: block;
    }
    .projects-main-container {
        display: grid;
        grid-template-columns: 49.5% 49.5%;
    }
}

@media(max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
    .projects-main-container {
        display: grid;
        grid-template-columns: 100%;
    }
    .contact-main-container div {
        display: inline-block;
        width: 60%;
        height: 100%;
    }
}

@media(max-width:445px) {
    .contact-main-container div {
        padding: 10px 0;
    }
}