@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    /* COLOR PALLETTE  */
    --blue: #488FB1;
    --light-blue: #4C6F9F;
    --purple: #533E85;
    --green: #C1F8CF;
    --aquamarine: #C1F8CF;
    --black: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'JetBrains Mono', monospace;
}

body {
    overflow-x: hidden;
}

.navbar {
    background: transparent;
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    background: var(--blue);
    border-bottom: 2px solid var(--black);
}

.navbar .text-img {
    display: none;
}

.navbar img {
    width: 35px;
    height: 40px;
    background: var(--black);
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 20px;
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}

.navbar img:hover {
    transition: transform .2s ease-in-out;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
}

.navbar .navbar__toggle {
    position: absolute;
    right: 2rem;
    top: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.navbar__toggle .bar-1,
.navbar__toggle .bar-2,
.navbar__toggle .bar-3 {
    height: 5px;
    width: 100%;
    background-color: var(--green);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.navbar__toggle.open .bar-1 {
    transform: rotate(45deg) translate(0px, 14px);
    -webkit-transform: rotate(45deg) translate(0px, 14px);
    -moz-transform: rotate(45deg) translate(0px, 14px);
    -ms-transform: rotate(45deg) translate(0px, 14px);
    -o-transform: rotate(45deg) translate(0px, 14px);
}

.navbar__toggle.open .bar-2 {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    background: transparent;
    box-shadow: none;
}

.navbar__toggle.open .bar-3 {
    transform: rotate(-45deg) translate(0px, -14px);
    -webkit-transform: rotate(-45deg) translate(0px, -14px);
    -moz-transform: rotate(-45deg) translate(0px, -14px);
    -ms-transform: rotate(-45deg) translate(0px, -14px);
    -o-transform: rotate(-45deg) translate(0px, -14px);
}

.navbar .nav__links {
    display: none;
    width: 100%;
}

.navbar .nav__links.actived {
    display: flex;
    animation-name: nav-links;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes nav-links {
    0% {
        opacity: 0;
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

.navbar .nav__links ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navbar .nav__links ul li {
    list-style: none;
    text-align: center;
    transition: background .4s ease-in-out;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
}

.navbar .nav__links ul li a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    -webkit-text-stroke: .8px var(--black);
    -webkit-text-fill-color: var(--green);
    padding: .5rem .5rem;
    display: block;
    text-shadow: 2px 2px var(--black);
}

.navbar .nav__links ul li:hover {
    background-color: var(--purple);
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
}

.navbar .nav__links ul li:active {
    background-color: var(--green);
    transition: background .2s ease-in-out;
}

main {
    height: 100vh;
    background: var(--purple);
}

.card__content {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 100%;
    place-items: center;
    position: relative;
}

.card__content h1 {
    font-weight: 900;
    margin-top: 20px;
    font-size: 3.6rem;
    text-align: center;
    -webkit-text-stroke: 2px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    text-shadow: 2px 2px var(--black);
    transition: border .4s ease-in-out;
    -webkit-transition: border .4s ease-in-out;
    -moz-transition: border .4s ease-in-out;
    -ms-transition: border .4s ease-in-out;
    -o-transition: border .4s ease-in-out;
}

.card__content h1:hover {
    border-bottom: 2px solid var(--blue);
    transition: border .2s ease-in-out;
    -webkit-transition: border .2s ease-in-out;
    -moz-transition: border .2s ease-in-out;
    -ms-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
}

.card__content .content__subtitle {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 2px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    text-shadow: 2px 2px var(--black);
    margin-bottom: 50px;
}

.card__content .content__subtitle:hover {
    border-bottom: 2px solid var(--blue);
    transition: border .2s ease-in-out;
}

.win__text {
    display: none;
}

.win__text {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1.5px var(--black);
    text-shadow: 2px 2px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--blue);
    width: 80%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.cards-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
    place-items: center;
}

.card-container {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container .card__title,
.card-container .card__subtitle {
    font-size: 2.4rem;
    font-weight: 900;
    -webkit-text-stroke: 2px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    text-shadow: 2px 2px var(--black);
}

.card-container-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.card-container-2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.card-container .card__icon {
    position: relative;
    display: grid;
    width: 120px;
    height: 120px;
    background: var(--black);
    border: 5px solid var(--black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-container .card__icon .img-flag {
    width: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: var(--green);
    opacity: .8;
}

.card-container-2 .card__icon .img-flag {
    position: absolute;
}

.card-container .card__icon .card__img--over {
    position: absolute;
}

.card-container .card__icon .card__img--over img {
    width: 80px;
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    animation-name: choose_hover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.card-container .card__icon .card__img--over img:hover {}

@keyframes choose_hover {
    0% {
        transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
    }
    25% {
        transform: scale(1.2) rotate(15deg);
        -webkit-transform: scale(1.2) rotate(15deg);
        -moz-transform: scale(1.2) rotate(15deg);
        -ms-transform: scale(1.2) rotate(15deg);
        -o-transform: scale(1.2) rotate(15deg);
    }
    50% {
        transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
    }
    75% {
        transform: scale(1.2) rotate(-15deg);
        -webkit-transform: scale(1.2) rotate(-15deg);
        -moz-transform: scale(1.2) rotate(-15deg);
        -ms-transform: scale(1.2) rotate(-15deg);
        -o-transform: scale(1.2) rotate(-15deg);
    }
    100% {
        transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
    }
}

.buttons-container {
    width: 100vw;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons-container .button {
    text-transform: uppercase;
    border: none;
    border: 2px solid var(--black);
    border-radius: 10px;
    text-align: center;
    background: var(--blue);
    font-weight: 900;
    -webkit-text-stroke: 1px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    width: 90px;
    height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 1.6rem;
}

.buttons-container .button-main {
    text-transform: uppercase;
    font-size: 2rem;
    border: none;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--black);
    border-radius: 10px;
    width: 120px;
    height: 30px;
    font-weight: 900;
    -webkit-text-stroke: 1.2px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    background: rgb(79, 211, 196);
    background: -moz-linear-gradient(173deg, rgba(79, 211, 196, 1) 0%, rgba(83, 62, 133, 1) 100%);
    background: -webkit-linear-gradient(173deg, rgba(79, 211, 196, 1) 0%, rgba(83, 62, 133, 1) 100%);
    background: linear-gradient(173deg, rgba(79, 211, 196, 1) 0%, rgba(83, 62, 133, 1) 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -ms-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    animation-name: button-main;
    animation-duration: 1s;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
}

.buttons-container .button-main.disabled {
    pointer-events: none;
}

.buttons-container .button-main:hover {
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.buttons-container .button-main:active {
    background: var(--green);
}

@keyframes button-main {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.table-container {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25%);
    background-color: var(--blue);
    place-items: center;
    font-size: 2.4rem;
    font-weight: 900;
    -webkit-text-stroke: 2px var(--black);
    -webkit-text-fill-color: var(--aquamarine);
    text-shadow: 2px 2px var(--black);
    text-align: center;
}

.table-container .table__title {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
}

.table-container .table__title:hover {
    background: var(--purple);
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
}

.table-container .table__player-1:hover,
.table-container .table__player-2:hover,
.table-container .table__score-1:hover,
.table-container .table__score-2:hover,
.table-container .table__score-3:hover,
.table-container .table__score-4:hover {
    background: var(--purple);
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
}

.table-container .table__player-1 {
    grid-row: 2/3;
    grid-column: 1/2;
    background: var(--light-blue);
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
}

.table-container .table__player-2 {
    grid-row: 2/3;
    grid-column: 2/2;
    background: var(--light-blue);
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
}

.table-container .table__score-1 {
    background: var(--light-blue);
    width: 100%;
    height: 100%;
    grid-row: 3/4;
    grid-column: 1/2;
    border-bottom: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
}

.table-container .table__score-2 {
    background: var(--light-blue);
    width: 100%;
    height: 100%;
    grid-row: 3/4;
    grid-column: 2/3;
    border-bottom: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
}

.table-container .table__score-3 {
    background: var(--light-blue);
    width: 100%;
    height: 100%;
    grid-row: 4/5;
    grid-column: 1/2;
    border-bottom: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
}

.table-container .table__score-4 {
    background: var(--light-blue);
    width: 100%;
    height: 100%;
    grid-row: 4/5;
    grid-column: 2/3;
    border-bottom: 2px solid var(--black);
    display: grid;
    place-items: center;
    transition: background .4s ease-in-out;
}

.alert {
    display: none;
}

.alert.error {
    border-radius: 10px;
    font-size: 1rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.alert.valid {
    border-radius: 10px;
    font-size: 1rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #07aa46;
}

.alert.draw {
    border-radius: 10px;
    font-size: 1rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #a8aa06;
}

.alert small {
    font-size: .6rem;
}

.closebtn {
    margin-left: 0px;
    color: white;
    font-weight: bold;
    font-size: 6rem;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

footer {
    height: 100%;
}

footer .icons-container {
    height: 100%;
    width: 100%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--black);
}

footer img {
    width: 80px;
    padding: 5px 20px;
}

@media (min-width: 600px) {
    .navbar .navbar__toggle {
        display: none;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
        border-bottom: 4px solid var(--black);
    }
    .navbar img {
        width: 45px;
        height: 50px;
        background: var(--black);
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .navbar .text-img {
        display: inline-block;
        width: 120px;
        height: 40px;
        background: var(--black);
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .navbar .nav__links {
        display: flex;
        width: 100%;
    }
    .navbar .nav__links ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex-direction: row;
    }
    .navbar .nav__links ul li a {
        font-size: 2.6rem;
        padding: .5rem 3rem;
    }
    .card__content h1 {
        font-size: 5.4rem;
        width: 80%;
        margin-top: 60px;
    }
    .card__content .content__subtitle {
        font-size: 5.6rem;
    }
    .card-container {
        gap: 0;
        justify-content: space-evenly;
    }
    .card-container .card__icon {
        width: 200px;
        height: 200px;
    }
    .card-container .card__icon .img-flag {
        width: 260px;
    }
    .buttons-container .button-main {
        width: 220px;
        height: 40px;
        font-size: 2.8rem;
    }
    .buttons-container .button {
        width: 180px;
        height: 40px;
        font-size: 2.9rem;
    }
    .card-container .card__title,
    .card-container .card__subtitle {
        font-size: 2.8rem;
        font-weight: 900;
    }
    .table-container {
        font-size: 3rem;
    }
    .alert.error {
        font-size: 2rem;
    }
    .alert.valid {
        font-size: 2rem;
    }
    .alert.draw {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    .navbar .nav__links ul li a {
        font-size: 3.4rem;
        padding: .5rem 3rem;
    }
    .card__content h1 {
        font-size: 6.4rem;
        margin-top: 60px;
    }
    .card__content .content__subtitle {
        font-size: 8.6rem;
    }
    .card-container .card__icon {
        width: 300px;
        height: 300px;
    }
    .card-container .card__icon .img-flag {
        width: 400px;
    }
    .buttons-container .button-main {
        width: 280px;
        height: 50px;
        font-size: 3.6rem;
    }
    .buttons-container .button {
        width: 240px;
        height: 50px;
        font-size: 3.6rem;
    }
    .card-container .card__title,
    .card-container .card__subtitle {
        font-size: 3.6rem;
        font-weight: 900;
    }
    .table-container {
        font-size: 4.01rem;
    }
    .alert.error {
        font-size: 3rem;
    }
    .alert.valid {
        font-size: 3rem;
    }
    .alert.draw {
        font-size: 3rem;
    }
}